.navbar {
  border-radius: 0.0rem !important;
  margin-bottom: 25px;
}

input.large {
  font-size: 1.3em;
  border-radius: 0.0rem;
  border: none;
  border-bottom: 1px solid #2B75DC;
}

input.small {
  font-size: 0.8em;
  border-radius: 0.0rem;
  border: none;
  border-bottom: 1px solid #2B75DC;
}


.btn-selector {
  position: relative;
  float: left;
  width: 100%;
  margin-bottom: 5px;
  border-bottom: 1px solid #2B75DC;
}

.btn-selector .btn {
  position: relative;
  float: left;
  width: 15%;
  border: none;
}

.btn-selector .content .btn {
  position: relative;
  float: left;
  width: 85%;
  overflow-x: hidden;
  vertical-align: middle;
}

.btn {
  border-radius: 0.0rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-group .btn{
  border-radius: 0.0rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-group .btn:focus {
  outline: none;
}

.btn-trigger {
  position: relative;
  height: 150px;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #ECEEEF;
  box-shadow: 0px 3px 5px -2px darkslategrey;
  overflow: hidden;
}

.btn-trigger:hover {
  background-color: #ECEEEF;
}

.btn-trigger > p {
  position: relative;
  font-size: 24pt;
  text-transform: uppercase;
  vertical-align: middle;
  line-height: 150px;
  z-index: 1;
  color: white;
}

.btn-trigger > img {
  position: absolute;
  left: -10px;
  bottom: -10px;
  height: 100px;
  width: 100px;
  z-index: 0;
}

.btn-trigger > span {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 3;
}
